:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    display: grid;
    grid-template-rows: 200px;
}

header {
    background: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: 40px 36px 80px;
    /* grid-template-columns: 1fr 1fr 1fr; */
}

main {
    background: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: 111px 342px 47px 162px;
}

#categories {
    display: flex;
    /* gap property to space out*/
}

#header-top {
    color: white;
    background: rgb(36, 35, 35);
    text-align: center;
    text-decoration: solid;
}

#header-message {
    background: rgb(69, 179, 80);
    color: white;
    text-align: center;
    font-weight: bold;
}

#navigation {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#search-bar {
    width: 400px;
}

#game-logo {
    align-items: center;
}

#logo {
    width: 1416px;
    height: 110px;
}
