:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    display: grid;
    grid-template-rows: 200px;
}

header {
    background: lightcyan;
    display: grid;
    /* grid-template-rows: px for each row */
}

main {
    background: lightgoldenrodyellow;
    display: grid;
    /* grid grid-template-columns: fr/px for each row ; */
}

#categories {
    display: flex;
    /* gap property to space out*/
}
